@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@100&family=Roboto:wght@300&display=swap');
*{
    margin: 0px;
    padding:0px ;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 1500px;
    background-image:url(img/blue_bg.png) ;
    background-repeat: no-repeat;
    background-size: 100% 38%;
    position: relative;
}
/*nav bar*/
nav{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    position: relative;
}
nav .left-nav{
    display: flex;
    justify-content: space-between;
}
.left-nav ul li{
    display: inline-block;
    margin: 0 25px;
    padding-top: 50px;
}
.left-nav ul li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: gray;
}
.left-nav ul li a:hover{
    text-decoration: underline 2px solid blueviolet;;
}
.left-nav img{
    width: 100px;
    padding-top: 40px;
    position: relative;
    left: 60px;
}
nav .btn{
    padding-top:45px;
    padding-right: 30px;
}
nav .btn button{
    padding:5px 30px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
/*end nav bar*/



/*section 1 */

.sec1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.sec1 .img1{
    width: 600px;
    /*margin-top: 150px;*/
    position: absolute;
    top: 5px;
    right: 50px;
}
.sec1 .img2{
    width: 200px;
    position: absolute;
    top: 45px;
    right: 270px;
}
.sec1 .text h1{
    font-size: 50px;
    font-weight: 700;
    color: gray;
    letter-spacing: 2px;
}
.sec1 .text span{
    color: blueviolet;
}
.sec1 .text p{
    margin-top: 20px;
    font-size: 27px;
    color: gray;
}



.sec1 .clouds img{
    width: 400px;
}
.sec1 .clouds{
    position: absolute;
    top: 300px;
    right: 150px;
}
.cloudss img{
    width: 180px;
    height: 290px;
}
.cloudss{
    position: absolute;
    top: 430px;
    right: 320px;
}

.waves img{
    width: 1500px;
}
.waves{
    position: absolute;
    top: 410px;
    left: -350px;
}



/*section 2 road*/
.sec2{
    margin-top: 20px;
    position: relative;
}
.sec2 .road img{
    width: 850px;
    position: absolute;
    left: 350px;
    top: 280px;
}


.sec2   .div1 h3  , .div2 h3 , .div3 h3{
    font-size: 18px;
    font-weight: 700;
}



.sec2 .div1 img{
    width: 150px;
}
.sec2 .div1{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 290px;
    left: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: gray;
    font-size: 15px;
    word-spacing: 2px;
}
.sec2 .div1 h3 ,.sec2 .div2 h3 ,.sec2 .div3 h3{
    margin-top: 10px;
}



.sec2 .div2 img{
    width: 150px;
}
.sec2 .div2{
    width: 330px;
    height: 300px;
    position: absolute;
    top: 400px;
    left: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: gray;
    font-size: 15px;
    word-spacing: 2px;
}



.sec2 .div3 img{
    width: 150px;
}
.sec2 .div3{
    width: 330px;
    height: 300px;
    position: absolute;
    top: 645px;
    left: 905px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: gray;
    font-size: 14px;
    word-spacing: 2px;
    font-weight: 500;
}



.sec2 .div4 img{
    width: 330px;
    position: absolute;
    top: 620px;
    left: 120px;
}
.sec2 .div4 .kudz{
    position: absolute;
    top: 720px;
    left: 200px;
    color: #fff;
}
.sec2 .div4 .kudz h1{
    font-size: 45px;
}


/*section 3*/
.sec3{
    margin-top:20px ;
    position: relative;
}
.sec3 .div1 img {
    width: 200px;
    position: absolute;
    top: 1150px;
    left: 310px;
}

.sec3 .div2 img {
    width: 350px;
    position: absolute;
    top: 1050px;
    left: 580px;
}


.sec3 .div3 img {
    width: 200px;
    position: absolute;
    top: 1180px;
    left: 1030px;
}



.arrow {
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 1350px;
    left: 950px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    top: 1350px;
    left: 600px;
}

.sec3 .div4{
    position: absolute;
    top: 1400px;
    left: 640px;
    color: gray;
    letter-spacing: 1px;
    text-align: center;
}
.sec3 .div4 h3{
    font-size: 25px;
    font-weight: 700;
}
.sec3 .div4 p{
    margin-top: 25px;
    font-size: 15px;
    font-weight: 500;
}


/*footer*/
footer{
    position: relative;
}
footer .bg img{
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 1400px;
}
footer .boygirl img{
    width: 800px;
    position: absolute;
    top: 1545px;
    left: 680px;
}
.appdiv , .plydiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    color: gray;
}
.appdiv img , .plydiv img{
    width: 20px;
}
.appdiv{
    width: 100px;
    padding:10px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 1850px;
    left: 100px;
    cursor: pointer;
    transition: all 0.2s 1s ease;

}
.plydiv{
    width: 100px;
    padding:10px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 1850px;
    left: 240px;
    cursor: pointer;
    transition: all 0.2s 1s ease;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 100px;
    position: absolute;
    top: 1920px;
    left: 85px;
    transition: all 0.2s 1s ease;
}
.icons img{
    margin: 0 8px;
    cursor: pointer;
}
.icons img:hover{
    transform: scale(1.3);
}
.foot ul{
    position: absolute;
    top: 1990px;
    left: 85px;
}
.foot ul li{
    display: inline-block;
    margin: 0 15px;
}
.foot ul li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color:#fff;
}
.foot ul li a:hover{
    text-decoration: underline 2px solid blueviolet;;
}
/*end footer*/







/*media*/

@media screen and (max-width:768px) {
    body{
        height: 1500px;
        background-image:url(img/blue_bg.png) ;
        background-repeat: no-repeat;
        background-size: 100% 23%;
        position: relative;
    }

    /*start nav*/
    nav{
        z-index: 1;
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }
    nav .left-nav{
        display: flex;
        position: relative;
        gap: 5px;
    }
    .left-nav ul li{
        display: inline-block;
        margin: 0 5px;
        padding-top: 30px;
    }
    .left-nav ul li a{
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: gray;
    }
    .left-nav ul li a:hover{
        text-decoration: underline 2px solid blueviolet;;
    }
    .left-nav img{
        width: 100px;
        position: relative;
        left: 0;
        top: -25px;
    }
    nav .btn{
        padding-top:25px;
        padding-right: 5px;
    }
    nav .btn button{
        padding:5px 10px;
        background-color: #fff;
        border: none;
        border-radius: 20px;
        outline: none;
        cursor: pointer;
    }
    /*end nav*/


    /*section 1 */

.sec1{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 80%;
    margin: auto;
    margin-top: 80px;
}
.sec1 .img1{
    width: 180px;
    /*margin-top: 150px;*/
    position: absolute;
    top: 8%;
    right: -5%;
}
.sec1 .img2{
    width: 80px;
    position: absolute;
    top: 8.5%;
    right: 7%;
}
.sec1 .text{
    position: absolute;
    left: 5%;
    top: 9%;
}
.sec1 .text h1{
    font-size: 24px;
    font-weight: 800;
    color: gray;
    letter-spacing: 2px;
}
.sec1 .text span{
    color: blueviolet;
}
.sec1 .text p{
    margin-top: 20px;
    font-size: 12px;
    color: gray;
}
.sec1 .clouds img{
    width: 200px;
}
.sec1 .clouds{
    position: absolute;
    top: 15%;
    right: -2%;
}
.cloudss img{
    width: 0px;
    height: 0px;
}
.cloudss{
    position: absolute;
    top: 430px;
    right: 320px;
}

.waves img{
    width: 800px;
}
.waves{
    position: absolute;
    top: 16%;
    left: -350px;
}

    /*section 2 road*/
.sec2{
    position: relative;
    width: 100%;
}
.sec2 .road img{
    width: 350px;
    position: absolute;
    left: 18%;
    top: -15px;
}
.sec2   .div1 h3  , .div2 h3 , .div3 h3{
    font-size: 12px;
    font-weight: 700;
}
.sec2   .div1 p  , .div2 p , .div3 p{
    font-size: 8px;
    font-weight: 400;
}
.sec2 .div1 img{
    width: 50px;
}
.sec2 .div1{
    width: 300px;
    height: 300px;
    position: absolute;
    top: -100px;
    left: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: gray;
    font-size: 15px;
    word-spacing: 2px;
}
.sec2 .div1 h3 ,.sec2 .div2 h3 ,.sec2 .div3 h3{
    margin-top: 10px;
}
.sec2 .div2 img{
    width: 50px;
}
.sec2 .div2{
    width: 330px;
    height: 300px;
    position: absolute;
    top: -40px;
    left: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: gray;
    font-size: 15px;
    word-spacing: 2px;
}
.sec2 .div3 img{
    width: 50px;
}
.sec2 .div3{
    width: 330px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: gray;
    font-size: 14px;
    word-spacing: 2px;
    font-weight: 500;
}
.sec2 .div4 img{
    width: 150px;
    position: absolute;
    top: 180px;
    left: 30px;
}
.sec2 .div4 .kudz{
    position: absolute;
    top: 220px;
    left: 60px;
    color: #fff;
}
.sec2 .div4 .kudz h1{
    font-size: 18px;
}
.sec2 .div4 .kudz p{
    font-size: 10px;
}



/*section 3*/
.sec3{
    margin-top:-650px ;
    position: relative;
    width: 100%;
}
.sec3 .div1 img {
    width: 120px;
    position: absolute;
    top: 1150px;
    left: 10px;
}
.sec3 .div2 img {
    width: 220px;
    position: absolute;
    top: 1050px;
    left: 120px;
}
.sec3 .div3 img {
    width: 140px;
    position: absolute;
    top: 1170px;
    left: 340px;
}
.arrow {
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 1300px;
    left: 330px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    top: 1300px;
    left: 170px;
}
.sec3 .div4{
    position: absolute;
    top: 1350px;
    left: 170px;
    color: gray;
    letter-spacing: 1px;
    text-align: center;
}
.sec3 .div4 h3{
    font-size: 15px;
    font-weight: 700;
}
.sec3 .div4 p{
    margin-top: 8px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.3px;
}



/*footer*/
footer{
    position: relative;
    margin-top: 100px;
}
footer .bg img{
    width: 100%;
    height: 50vh;
    position: absolute;
    bottom: 0%;
}
footer .boygirl img{
    width: 300px;
    position: absolute;
    top: 1572px;
    left: 190px;
}
.appdiv , .plydiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    color: gray;
}
.appdiv img , .plydiv img{
    width: 20px;
}
.appdiv{
    width: 100px;
    padding:10px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 1640px;
    left: 10px;
    cursor: pointer;
    transition: all 0.2s 1s ease;

}
.plydiv{
    width: 100px;
    padding:10px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 1595px;
    left: 10px;
    cursor: pointer;
    transition: all 0.2s 1s ease;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 1700px;
    left: -5px;
    transition: all 0.2s 1s ease;
}
.icons img{
    cursor: pointer;
    width: 20px;
}
.icons img:hover{
    transform: scale(1.3);
}
.foot ul{
    position: absolute;
    top: 1740px;
    left: 10px;
}
.foot ul li{
    display: inline-block;
    margin: 0 3px;
}
.foot ul li a{
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    color:#fff;
}
.foot ul li a:hover{
    text-decoration: underline 2px solid blueviolet;;
}
/*end footer*/


}
